# removeUserVerification

Removes verification from a user who is currently verified on behalf of the organization represented by the bot

[Telegram docs](https://core.telegram.org/bots/api#removeuserverification)

## Parameters

| Parameter | Type | Required | Description |
|-----------|------|----------|-------------|
| user_id | `number` | Yes | Unique identifier of the target user |

## Return type

`boolean`
