# removeChatVerification

Removes verification from a chat that is currently verified on behalf of the organization represented by the bot

[Telegram docs](https://core.telegram.org/bots/api#removechatverification)

## Parameters

| Parameter | Type | Required | Description |
|-----------|------|----------|-------------|
| chat_id | `number` \| `string` | Yes | Unique identifier for the target chat or username of the target channel (in the format @channelusername) |

## Return type

`boolean`
